.customizeYourExperience {
  position: absolute;
  top: 51px;
  left: calc(50% - 508.95px);
  letter-spacing: 0.5px;
  line-height: 140%;
  color: var(--grey-black);
  display: inline-block;
  width: 1018px;
  height: 99px;
}
.globalConciergeServices {
  margin: 0;
  position: absolute;
  top: 0;
  left: 67px;
  font-size: var(--title-r-size);
  letter-spacing: -0.02em;
  line-height: 103%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 1152px;
  height: 59px;
}
.circleShapeIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 0;
}
.circleBackground,
.circleShapeWrapper {
  position: absolute;
  box-sizing: border-box;
}
.circleShapeWrapper {
  top: 19.2px;
  left: 22.4px;
  width: 4.8px;
  height: 10.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-5xs);
}
.circleBackground {
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--grey-black);
  width: 100%;
  height: 100%;
}
.frameParent,
.groupChild {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 1237.1px;
  width: 48.8px;
}
.groupChild {
  left: 0;
  max-height: 100%;
  object-fit: contain;
}
.groupParent {
  position: absolute;
  top: 216px;
  left: 0;
  width: 1285.9px;
  height: 48.8px;
}
.viewAllServices {
  position: absolute;
  top: 475px;
  left: calc(50% + 541.05px);
  font-size: var(--text-s-light-size);
  text-decoration: underline;
  letter-spacing: 0.01em;
  line-height: 18px;
  text-align: center;
  display: inline-block;
  min-width: 102px;
  cursor: pointer;
}
.concierge {
  position: absolute;
  top: 126px;
  left: calc(50% - 642.95px);
  width: 100%;
  height: 497px;
  text-align: left;
  font-size: var(--title-xxs-size);
}
.additionalServices {
  position: absolute;
  top: 2772px;
  left: calc(50% - 642.5px);
  width: 1285.9px;
  height: 623px;
  text-align: center;
  font-size: var(--text-medium-16-medium-size);
  color: var(--grey-grey-dark);
  font-family: var(--text-s-light);
}
@media screen and (max-width: 750px) {
  .globalConciergeServices {
    font-size: var(--title-xr-size);
    line-height: 33px;
  }
}
@media screen and (max-width: 450px) {
  .globalConciergeServices {
    font-size: var(--title-xs-size);
    line-height: 25px;
  }
}
