.imageIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.flyingDressPhotoshoot {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  text-transform: uppercase;
  color: inherit;
}
.experienceTitleContainer,
.experienceTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.experienceTitleWrapper {
  width: 235px;
}
.experienceTitleContainer {
  align-self: stretch;
}
.imageAndTitle,
.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.imageAndTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  height: 100%;
}
.imageWrapper {
  height: 360px;
  cursor: pointer;
}
.experience {
  position: absolute;
  top: 0;
  left: 16px;
  width: 343px;
  height: 435px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--grey-black);
  font-family: var(--font-gt-super-txt-trial);
}
