.search {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 140%;
}
.searchWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 31px;
}
.bedrooms {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
}
.label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div {
  position: relative;
  line-height: 24px;
}
.container,
.fieldText {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container {
  height: 14px;
  justify-content: space-between;
  gap: var(--gap-0);
  row-gap: 20px;
}
.fieldText {
  align-self: stretch;
  background-color: var(--white);
  border: 0.8px solid var(--grey-grey-dark);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-4xs) var(--padding-sm)
    var(--padding-sm);
  font-size: var(--text-medium-16-medium-size);
  color: var(--grey-grey-dark);
  font-family: var(--text-medium-16-medium);
}
.fieldLabelContainer,
.searchFields {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fieldLabelContainer {
  width: 83px;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.searchFields {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-5xs);
  min-width: 671px;
  max-width: 100%;
}
.label1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 22px;
  display: inline-block;
  min-width: 39px;
}
.buttons {
  background-color: var(--grey-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  gap: var(--gap-5xs);
  cursor: pointer;
  text-align: center;
}
.label2 {
  position: relative;
  font-size: var(--text-medium-16-medium-size);
  letter-spacing: 1px;
  line-height: 19px;
  font-family: var(--text-s-light);
  color: var(--grey-black);
  text-align: center;
  display: inline-block;
  min-width: 84px;
}
.vectorIcon {
  height: 11px;
  width: 5px;
  position: relative;
  object-fit: contain;
}
.buttons1 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xl);
  background-color: var(--color-aqua-100);
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.buttons1:hover {
  background-color: var(--color-lightseagreen-200);
}
.frameParent,
.searchFilterBar {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.searchFilterBar {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-3xs);
  font-size: var(--text-s-light-size);
  color: var(--grey-black);
}
.frameParent {
  position: absolute;
  top: 680px;
  left: 2px;
  box-shadow: 16px 4px 40.4px rgba(0, 0, 0, 0.08);
  background-color: var(--white);
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-12xs);
  text-align: left;
  font-size: var(--text-medium-16-medium-size);
  color: var(--grey-grey-dark);
  font-family: var(--text-s-light);
}
@media screen and (max-width: 1350px) {
  .searchFields,
  .searchFilterBar {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1150px) {
  .searchFields {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .frameParent {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
