.text,
.textForDescription {
  width: 230px;
  position: relative;
}
.textForDescription {
  font-size: var(--text-small-12-bold-size);
  line-height: 20px;
  color: var(--secondary-30);
  display: none;
}
.text {
  height: 18px;
  line-height: 18px;
  display: inline-block;
}
.errorMessage1,
.iconClose {
  width: 20px;
  position: relative;
  height: 20px;
}
.errorMessage1 {
  height: 22px;
  width: 206px;
  line-height: 22px;
  display: inline-block;
  flex-shrink: 0;
}
.errorMessage {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
  color: var(--red-600);
}
.errorMessage,
.explanatoryText,
.successMessage {
  width: 230px;
  justify-content: flex-start;
}
.successMessage {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
  color: var(--green-500);
}
.explanatoryText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xs);
}
.counter {
  height: 22px;
  width: 27px;
  position: relative;
  line-height: 22px;
  text-align: right;
  display: inline-block;
}
.helperText,
.inputs {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.helperText {
  display: none;
  flex-direction: row;
  color: var(--grey-500);
}
.inputs {
  width: 479px;
  height: 66px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: var(--text-s-light-size);
  color: var(--black);
  font-family: var(--text-normal-14-regular);
}
