@import url("https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=GT+Super+Display:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Graphik:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "GT Super Txt Trial";
  src: url("/GT-Super-Text-Regular.woff2");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --text-s-light: Abel;
  --text-medium-16-medium: Poppins;
  --font-gt-super-display: "GT Super Display";
  --text-normal-14-regular: Graphik;
  --text-m-regular: Inter;
  --font-gt-super-txt-trial: "GT Super Txt Trial";

  /* font sizes */
  --text-s-light-size: 14px;
  --text-medium-16-medium-size: 16px;
  --font-size-mini: 15px;
  --title-xxs-size: 20px;
  --title-m-size: 46px;
  --font-size-lg: 18px;
  --title-xl-size: 110px;
  --font-size-36xl: 55px;
  --font-size-14xl: 33px;
  --title-s-size: 28px;
  --font-size-3xl: 22px;
  --title-r-size: 40px;
  --title-xr-size: 32px;
  --title-xs-size: 24px;
  --text-small-12-bold-size: 12px;
  --title-l-size: 80px;
  --font-size-18xl: 37px;
  --font-size-81xl: 100px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-19xl: 38px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-41xl: 60px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --font-size-51xl: 70px;
  --font-size-23xl: 42px;
  --font-size-37xl: 56px;
  --font-size-10xl: 29px;

  /* Colors */
  --white: #fff;
  --sand: #d99330;
  --grey-grey-400: #a1a8b8;
  --grey-grey: #9ba7ae;
  --color-darkgray-100: #a3a3a3;
  --text-30: #969c99;
  --grey-600: #656565;
  --grey-grey-dark: #506a70;
  --gray-40: #565d5a;
  --turquoise: #28f7ea;
  --color-aqua-100: #28f6ea;
  --secondary-30: #8b8b8b;
  --grey-500: #767676;
  --grey-black: #172338;
  --color-gray-100: rgba(0, 0, 0, 0.4);
  --grey-200: #f0f3f5;
  --grey-lighter-150: #f0f1f2;
  --grey-300: #ededed;
  --color-darkturquoise: rgba(41, 190, 200, 0);
  --color-mediumseagreen-100: #37c380;
  --green-main-500: #00db99;
  --color-steelblue: #419ada;
  --color-goldenrod: #ffc121;
  --black: #000;
  --color-chocolate: #e65b0d;
  --grey-light-200: #e0e1e3;
  --color-gainsboro-100: rgba(217, 217, 217, 0);
  --grey-main-500: #77828c;
  --red-dark-600: #da0000;
  --color-lightseagreen-100: #00c4b8;
  --color-lightseagreen-200: #00c2b8;
  --base-gray-80: #4a5660;
  --color-darkslategray-100: #303d40;
  --color-darkslategray-200: #333;
  --color-darkslategray-300: rgba(74, 86, 96, 0);
  --color-antiquewhite-100: #fff1de;
  --color-antiquewhite-200: #e6dbcc;
  --color-oldlace: #fff5e7;
  --secondary-100: #f04d23;
  --base-gray-40: #b5bec6;
  --color-peru-100: #a66100;
  --color-peru-200: rgba(166, 97, 0, 0.09);
  --blue-20: #c8cff8;
  --green-500: #00c24e;
  --red-600: #d21f03;
  --blue-500: #274aff;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-xl: 20px;
  --gap-5xs: 8px;
  --gap-xs: 12px;
  --gap-12xs: 1px;
  --gap-37xl: 56px;
  --gap-10xl: 29px;
  --gap-7xl-9: 26.9px;
  --gap-mini: 15px;
  --gap-9xl: 28px;
  --gap-mid: 17px;
  --gap-120xl: 139px;
  --gap-25xl: 44px;
  --gap-33xl: 52px;
  --gap-5xl: 24px;
  --gap-11xs-7: 1.7px;
  --gap-3xs-1: 9.1px;
  --gap-2xl: 21px;
  --gap-4xs: 9px;
  --gap-38xs: -25px;
  --gap-0: 0px;
  --gap-3xl: 22px;
  --gap-lg-9: 18.9px;
  --gap-sm: 14px;
  --gap-11xs: 2px;
  --gap-13xl: 32px;
  --gap-44xl: 63px;
  --gap-12xl: 31px;
  --gap-11xl: 30px;
  --gap-6xs: 7px;
  --gap-smi: 13px;
  --gap-41xl: 60px;
  --gap-21xl: 40px;
  --gap-lg: 18px;
  --gap-4xl: 23px;
  --gap-32xl: 51px;
  --gap-6xl: 25px;
  --gap-28xl: 47px;
  --gap-7xs: 6px;
  --gap-2xs: 11px;
  --gap-5xs-1: 7.1px;
  --gap-26xl: 45px;
  --gap-63xs: -50px;
  --gap-29xl: 48px;
  --gap-59xl: 78px;
  --gap-lgi: 19px;
  --gap-20xl: 39px;
  --gap-96xl: 115px;
  --gap-38xl: 57px;
  --gap-sm-9: 13.9px;

  /* Paddings */
  --padding-9xl: 28px;
  --padding-41xl: 60px;
  --padding-5xl: 24px;
  --padding-9xs: 4px;
  --padding-60xl: 79px;
  --padding-61xl: 80px;
  --padding-21xl: 40px;
  --padding-20xl: 39px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-3xl: 22px;
  --padding-lg: 18px;
  --padding-25xl: 44px;
  --padding-sm: 14px;
  --padding-13xl: 32px;
  --padding-59xl: 78px;
  --padding-xs: 12px;
  --padding-4xs: 9px;
  --padding-lgi: 19px;
  --padding-2xs: 11px;
  --padding-mini: 15px;
  --padding-24xl: 43px;
  --padding-xl: 20px;
  --padding-10xs: 3px;
  --padding-118xl: 137px;
  --padding-49xl: 68px;
  --padding-53xl: 72px;
  --padding-37xl: 56px;
  --padding-45xl: 64px;
  --padding-189xl: 208px;
  --padding-197xl: 216px;
  --padding-4xl: 23px;
  --padding-3xs-7: 9.7px;
  --padding-93xl: 112px;
  --padding-181xl: 200px;
  --padding-85xl: 104px;
  --padding-33xl: 52px;
  --padding-7xl: 26px;
  --padding-2xl: 21px;
  --padding-11xl: 30px;
  --padding-6xl: 25px;
  --padding-17xl: 36px;
  --padding-3xs: 10px;
  --padding-15xl: 34px;
  --padding-8xl: 27px;
  --padding-12xl: 31px;
  --padding-23xl: 42px;
  --padding-28xl: 47px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-16xl: 35px;
  --padding-222xl: 241px;
  --padding-109xl: 128px;
  --padding-277xl: 296px;
  --padding-81xl: 100px;
  --padding-31xl: 50px;
  --padding-235xl: 254px;
  --padding-254xl: 273px;
  --padding-42xl: 61px;
  --padding-smi: 13px;
  --padding-528xl-5: 547.5px;
  --padding-209xl: 228px;
  --padding-12xs-1: 0.1px;
  --padding-141xl: 160px;
  --padding-54xl: 73px;
  --padding-64xl: 83px;
  --padding-35xl: 54px;
  --padding-base-5: 16.5px;
  --padding-29xl: 48px;
  --padding-6xs: 7px;
  --padding-381xl: 400px;
  --padding-6xl-9: 25.9px;
  --padding-241xl: 260px;
  --padding-65xl: 84px;
  --padding-22xl: 41px;
  --padding-161xl: 180px;
  --padding-175xl-5: 194.5px;
  --padding-116xl-5: 135.5px;
  --padding-198xl: 217px;

  /* Border radiuses */
  --br-9xl: 28px;
  --br-sm: 14px;
  --br-21xl: 40px;
  --br-37xl: 56px;
  --br-31xl: 50px;
  --br-9xs-2: 3.2px;
  --br-99xl: 118px;
  --br-20xl: 39px;
  --br-3xs: 10px;
  --br-9xs: 4px;
  --br-16xl-2: 35.2px;
  --br-11xs: 2px;
  --br-base: 16px;
  --br-85xl: 104px;
  --br-5xs: 8px;
  --br-10xl: 29px;

  /* Effects */
  --shadow-lighter: -14px 14px 30px rgba(0, 0, 0, 0.1);
  --shadow-focus: 0px 0px 0px 3px rgba(215, 223, 252, 0.5);
}
